<script src="script.js">
</script>

<form method="GET" action="">
    <p> Name: <input type="text" name="name"> </p>
    <p> Message: <br><textarea name="message"> </textarea></p>
    <p> <button type="submit">Send</button></p>
</form>
